.dish {
    margin-top: 20px;
    border: 1px solid #000;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10px;
}

.dish img {
    width: 130px;
    height: 100px;
}

.dish h4 {
    font-size: 18px;
    margin-top: 41px;
}

.dish p {
    margin-top: 41px;
}

.dish button {
    height: 30px;
    margin-top: 35px;
    background: #299c5d;
    border: 0;
    outline: none;
    color: #fff;
    padding: 5px 10px;
    font-size: 15px;
    cursor: pointer;
}


.edit-btn {
    height: 20px;
    margin-top: 35px;
    background: #299c5d;
    border: 0;
    outline: none;
    color: #fff;
    padding: 5px 10px;
    font-size: 15px;
    text-decoration: none;
}