.edit {
    border: 1px solid #5e5e5e;
    padding: 15px;
    margin: 80px auto;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit input {
    width: 200px;
    font-size: 16px;
    outline: none;
    margin-bottom: 15px;
    height: 25px;
}

.edit h1 {
    text-transform: uppercase;
}

.edit button {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    background: #316ad3;
    padding: 8px 15px;
    color: #fff;
    outline: none;
    border: 0;
}