.form {
    border: 1px solid #000;
    padding: 15px;
    margin: 80px auto;
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form input {
    width: 150px;
    font-size: 16px;
    outline: none;
    margin-bottom: 15px;
}

.form h1 {
    text-transform: uppercase;
}

.form button {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    background: #316ad3;
    padding: 8px 15px;
    color: #fff;
    outline: none;
    border: 0;
}