.container {
    width: 900px;
    margin: 50px auto;
    border: 1px solid #000;
    padding: 15px;
}

.container h3 {
    text-transform: uppercase;
}

.addNewDish {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    background: #316ad3;
    padding: 8px 15px;
    color: #fff;
    outline: none;
    border: 0;
}

.dishesList {
    border: 1px solid #000;
    padding: 10px;
    margin-top: 15px;
}
