.orders {
    padding: 15px;
    margin: 80px auto;
    width: 600px;
    border: 1px solid #000;
}

.order {
    border: 1px solid #000;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.order h3 {
    margin: 0 0 5px 0;
}
.order p {
    margin: 0 0 5px 0;
}
.order span {
    margin-bottom: 5px;
}